body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #222;
}

.form {
	background-color: #CBE4DE;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="number"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	color: #555;
}

button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #222;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

#result {
	margin-top: 20px;
	font-size: 18px;
	color: #2C3333;
}

#foodTips {
	margin-top: 20px;
	font-size: 18px;
	color: #222;
}
